{% extends 'welcome/layout.html' %}
{% load staticfiles %}
{% block content %}


    
<div class="container">    
    <div style="background-color: #9b8b3e;" class="row featurette cow-div">
        <div class="col-md-7">
          <h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Cow.</span></h2>
          <p class="lead">

             Some information about cow and how we make use of the cow and its waste

            </p>
            <ul class="benefits">
              
            </ul>
          </div>
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block cow_img" src="img/cow.jpg">
      </div>
    </div>

    <hr class="featurette-divider">
    
    <div style="background-color: #77a35b;" class="row featurette ox-div">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Ox.</span></h2>
            <p class="lead">
              Some information about cow and how we make use of the Ox and its waste
            </p>
          <ul class="benefits">
                
            </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block ox_img" src="img/ox.jpg">
        </div>
      </div>
    

    <hr class="featurette-divider">
    
    
    <div style="background-color: #e5ebac;" class="row featurette hen-div">
        <div class="col-md-7">
          <h2 class="featurette-heading">About YBS's <span class="text-muted">Hen.</span></h2>
          <p class="lead">
             Some information about cow and how we make use of the Ox and its waste
            </p>
            <ul class="benefits">
                
            </ul>
          </div>
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block hen_img" src="img/hen.jpg">
      </div>
    </div>

    <hr class="featurette-divider">
    
    
    <div style="background-color: #9da589;" class="row featurette duck-div">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Duck.</span></h2>
            <p class="lead">
             Some information about cow and how we make use of the duck and its waste
            </p>
          <ul class="benefits">
                
            </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block duck_img" src="img/duck.JPG">
        </div>
      </div>
    

    <hr class="featurette-divider">
    
     <div style="background-color: #d3485f;" class="row featurette goat-div">
        <div class="col-md-7">
          <h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Goat.</span></h2>
          <p class="lead">
             Some information about cow and how we make use of the goats and its waste

            </p>
            <ul class="benefits">
            
            </ul>
          </div>
         
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block goat_img" src="img/goat.jpg">
      </div>
    </div>

    <hr class="featurette-divider">
    
     <div style="background-color: #c20a00;" class="row featurette dog-div">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" style="color:#c6c4ca;" >About YBS's <span class="text-muted">Dog.</span></h2>
            <p style="color:#c6c4ca;" class="lead">
               Some information about cow and how we make use of the dogs and its waste
            </p>
          <ul style="color:#c6c4ca;" class="benefits">
               
            </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block dog_img" src="img/dog.jpg">
        </div>
      </div>
    

    <hr class="featurette-divider">
    
    <div style="background-color: #b48d85;" class="row featurette cat-div">
        <div class="col-md-7">
          <h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Cat.</span></h2>
          <p class="lead">
              Some information about cow and how we make use of the cats and its waste

            </p>
            <ul class="benefits">
              
            </ul>
          </div>
         
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block cat_img" src="img/cat.jpg">
      </div>
    </div>

    <hr class="featurette-divider">
    
    <div style="background-color: #c6c4ca;" class="row featurette ostrich-div">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">About YBS's <span class="text-muted">Ostrich.</span></h2>
            <p class="lead">
                 Some information about cow and how we make use of the ostrichs and its waste
            </p>
            <ul class="benefits">
               
            </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block ostrich_img" src="img/ostrich.jpg">
        </div>
      </div>
    
    <hr class="featurette-divider">
        
    
</div>    
    
 

{% endblock %}