{% extends 'welcome/layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
	<div class="sunflower_div">
		<section id="sunflower">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Sunflower.</span></h2>
					<p class="lead">t
						few lines about Sunflower
					</p>
				</div>
				<div class="col-md-5">
					<img src="" alt="sunflowers image goes here.....">
				</div>
			</div>
		</section>
	</div>

	<div class="zantedeschia_div">
		<section id="zantedeschia">
			<div class="row featurette">
				<div class="col-md-7">
				<h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">zantedeschia Tree.</span></h2>
					<p class="lead">
						few lines about zantedechia
					</p>
				</div>
				<div class="col-md-5">
					<img src="" alt="zantedechia image goes here.....">
				</div>
			</div>
		</section>
	</div>
</div>

{% endblock %}
