{% extends 'welcome/layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
	<div class="taru_div">
		<section id="taru">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">About YBS's <span class="text-muted" style="color:#c6c4ca;">Lakshmi Taru.</span></h2>
					<p class="lead">
						few lines about lakshmi taru
					</p>
				</div>
				<div class="col-md-5"></div>
			</div>
		</section>
	</div>

	<div class="moringa_div">
		<section id="moringa">
			<div class="row featurette">
				<div class="col-md-7"></div>
				<div class="col-md-5"></div>
			</div>
		</section>
	</div>
</div>

{% endblock %}